@media screen and (min-width: 480px){
    .logo-xs{
        display: none;
    }
}



@media screen and (max-width: 480px){

    /*MENU*/

    #logo{
        display:none;
    }

    #navbar{
        width: 40px;
        align-items: center;
        padding: 5px 0;
    }

    
    .logo-xs{
        margin-bottom: 10px;
        width: 20px;
    }

    #menu .text{
        display: none;
    }

    #navbar .icon{
        width: 20px;
        margin: 0;
    }

    #playlist{
        display: none;
    }

    #utente .text, 
    #utente .ruler{
        display: none;
    }

    #utente .download .icon,
    #utente .profilo .img-round{
        margin: 0;
    }

    .profilo,
    .download{
        justify-content: center;
    }

    /*MAIN*/

    #body .col{
        width: calc(100% / 2);
    }

}
