@media screen and (min-width: 480px){
    .logo-xs{
        display: none;
    }
}



@media screen and (max-width: 480px){

    /*MENU*/

    #logo{
        display:none;
    }

    #navbar{
        width: 40px;
        align-items: center;
        padding: 5px 0;
    }

    
    .logo-xs{
        margin-bottom: 10px;
        width: 20px;
    }

    #menu .text{
        display: none;
    }

    #navbar .icon{
        width: 20px;
        margin: 0;
    }

    #playlist{
        display: none;
    }

    #utente .text, 
    #utente .ruler{
        display: none;
    }

    #utente .download .icon,
    #utente .profilo .img-round{
        margin: 0;
    }

    .profilo,
    .download{
        justify-content: center;
    }

    /*MAIN*/

    #body .col{
        width: calc(100% / 2);
    }


    .song{
        margin: 0;
    }

    #footer-center .player > div{
        margin: 3px 5px;
    }

    #footer-center .player > div:nth-child(3):hover {
        margin-left: 4px;
        margin-right: 4px;
    }

    #footer-right{
        flex-wrap: wrap;
    }

    .footer-left-icon-container{
        width: 15px;
        padding: 0;
    }

    #footer-right .fa-solid{
        font-size: 0.5rem;
    }

    #footer-right .value-bar,
    .footer-right-icon-container{
        margin: auto;
    }

}
