*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

:root{
    --text-main-color: white;
    --main-font-size: 0.5rem;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                      MAIN

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

main{
    height: calc(100vh - 60px);
}

/*NAVBAR*/

#navbar{
    width: 150px;
    background-color: black;
    padding: 10px;
}

/*LOGO*/

#logo{
    width: 70%;
    margin-bottom: 10px;
}

/*MENU*/

#menu{
    margin-bottom: 10px;
}

#menu > div{
    line-height: 16px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.icon{
    width: 15%;
    margin-right: 3px;
}

.text{
    color: var(--text-main-color);
    font-size: var(--main-font-size);
}

/*PLAYLIST*/

.title{
    color: var(--text-main-color);
    font-size: var(--main-font-size);
    margin-bottom: 5px;
}

.new-playlist{
    align-items: center;
    margin-bottom: 10px;
}

.new-playlist .text{
    font-size: 0.6rem;
}

.new-playlist .button{
    width: 20%;
    aspect-ratio: 1;
    background-color: #a1a1a1;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}

.new-playlist .button span{
    color: #282828;
    font-size: 1.2rem;
}

.list .text{
    margin-bottom: 10px;
}

/*TOPBAR*/

#topbar{
    height: 70px;
    line-height: 70px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    text-align: end;
    vertical-align: middle;
    padding: 0 10px;

}

#topbar .button{
    border: 1px solid white;
    color: white;
    font-size: 0.6rem;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

/*BODY*/

#body{
    width: 100%;
    background-color: #141922;
}

/*RECENTLY PLAYED*/

#recently-played .row{
    width: 100%;
}

#recently-played .col{
    width: calc(100% / 6);
}

#recently-played img{
    width: 90%;
}

#creato-per .row{
    width: 100%;
}

#creato-per .col{
    width: calc(100% / 6);
}

#creato-per img{
    width: 90%;
}

#popular-artist .row{
    width: 100%;
}

#popular-artist .col{
    width: calc(100% / 6);
}

#popular-artist

#popular-artist img{
    width: 90%;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                      FOOTER

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
    height: 60px;
    background-color: #282828;
}
